<h1> Blog show </h1>


<%= @page_blog.user.username %> / 
<%= @page_blog.created_at.to_formatted_s(:long) %><br>
<%= @page_blog.content %>

<ul>
    
  <% @page_blog.comments.all.reverse.each do |ea_comment| %>
  <li>
    <%= ea_comment.user.username %> / 
    <%= ea_comment.created_at.to_formatted_s(:long) %><br>
    <%= ea_comment.content %><br>
    <br>
  </li>
  <% end %>
  
  <li>
    <% if @page_blog %>
      <%= form_for @page_blog.comment.new do |f| %>
        <%= f.text_field :content %>
        <%= f.submit %>
      <% end %>
    <% end %>
  </li>

  
    
</ul>