<div class="main__user_edit">
  <div class="main__user_new__title">
    Create a new account
  </div>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    
  
    <% if (devise_error_messages! != "") %>
      <div class="devise_errors">
        <%= devise_error_messages! %>
      </div>
    <% end %>

    <div class="field">
      <div class="mylabel">
        Email:
      </div>
      <%= f.email_field :email, :class=>"myfield", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <div class="mylabel">
        Username:
      </div>
      <%= f.text_field :username, :class=>"myfield", autofocus: true %>
    </div>

    <div class="field">
      <div class="mylabel">
        Password:
      </div>
      <%= f.password_field :password, :class=>"myfield", autocomplete: "off" %>
      <div class="myfieldlight">
        <% if @minimum_password_length %>
          (<%= @minimum_password_length %> characters minimum)
        <% end %>
      </div>
    </div>

    <div class="field">
      <div class="mylabel">
        Password confirmation:
      </div>
      <%= f.password_field :password_confirmation, :class=>"myfield", autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", :class => "main__user_edit__btnUpdate" %>
    </div>
  <% end %>

</div>