<h1> Recent Blogs </h1>

<% @page_user.blogs.all.reverse.each do |ea_post| %>

  <%= ea_post.user.username %> / 
  <%= ea_post.created_at.to_formatted_s(:long) %><br>
  <%= ea_post.content %>
  <br><br>

  <ul>
    
    <% ea_post.comments.all.reverse.each do |ea_comment| %>
    <li>
      <%= ea_comment.user.username %> / 
      <%= ea_comment.created_at.to_formatted_s(:long) %><br>
      <%= ea_comment.content %><br>
      <br>
    </li>
    <% end %>
    
  </ul>

  <br><br><br>



<% end %>